[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/solmate"]
	path = lib/solmate
	url = https://github.com/rari-capital/solmate
[submodule "lib/2022-11-canto"]
	path = lib/2022-11-canto
	url = https://github.com/devtooligan/2022-11-canto
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
	branch = v4.8.0
[submodule "lib/abdk-libraries-solidity"]
	path = lib/abdk-libraries-solidity
	url = https://github.com/abdk-consulting/abdk-libraries-solidity
